# Terraform
**/.terraform/
**/.terraform.*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars
**/*.tfvars.json
crash.log
crash.*.log

# OS/Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo
